<div id="lightbox">
    <div class="container">
        <div id="lightbox_outer_content_wrap">
            <div id="lightbox_outer_content">
                <div class="lightbox_button_wrap lightbox_button_wrap_right">
                    <div class="lightbox_buttons top_lightbox_buttons">
                        <div class="lightbox_button">
                            <div class="button_icon" id="button_icon_close"></div>
                        </div>
                    </div>
                </div>
                <div id="lightbox_inner_content_wrap">
                    <div id="lightbox_inner_content">
                        <div id="lightbox_content">
                            <h2>Official Citation</h2>
                            <p>The President of the United States of America, authorized by Act of Congress, March 3, 1863, has awarded in the name of Congress the Medal of Honor to</p>
                            <h3>Captain Florent Groberg</h3>
                            <h4>United States Army</h4>
                            <p>For conspicuous gallantry and intrepidity at the risk of his life above and beyond the call of duty:</p>
                            <p>Captain Florent A. Groberg distinguished himself by acts of gallantry and intrepidity at the risk of his life above and beyond the call of duty while serving as a Personal Security Detachment Commander for Task Force Mountain Warrior, 4th Infantry Brigade Combat Team, 4th Infantry Division, during combat operations against an armed enemy in Asadabad, Kunar Province, Afghanistan on August 8, 2012.  On that day, Captain Groberg was leading a dismounted movement consisting of several senior leaders to include two brigade commanders, two battalion commanders, two command sergeants major, and an Afghanistan National Army brigade commander.  As they approached the Provincial Governor's compound, Captain Groberg observed an individual walking close to the formation.  When the individual made an abrupt turn towards the formation, he noticed an abnormal bulge underneath the individual's clothing.  Selflessly placing himself in front of one of the brigade commanders, Captain Groberg rushed forward, using his body to push the suspect away from the formation.  Simultaneously, he ordered another member of the security detail to assist with removing the suspect.  At this time, Captain Groberg confirmed the bulge was a suicide vest and with complete disregard for his life, Captain Groberg again, with the assistance of the other member of the security detail, physically pushed the suicide bomber away from the formation.  Upon falling, the suicide bomber detonated his explosive vest outside of the perimeter of the formation, killing four members of the formation and wounding numerous others.  The blast from the first suicide bomb caused the suicide vest of a previously unnoticed second suicide bomber to detonate prematurely with minimal impact on the formation.  Captain Groberg's immediate actions to push the first suicide bomber away from the formation significantly minimized the impact of the coordinated suicide bombers' attack on the formation, saving the lives of his comrades and several senior leaders.  Captain Groberg's extraordinary heroism and selflessness above and beyond the call of duty at the risk of life are in keeping with the highest traditions of military service and reflect great credit upon himself, 4th Infantry Brigade Combat Team, 4th Infantry Division and the United States Army.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>