<div id="lightbox">
    <div class="container">
        <div id="lightbox_outer_content_wrap">
            <div id="lightbox_outer_content">
                <div class="lightbox_button_wrap lightbox_button_wrap_right">
                    <div class="lightbox_buttons top_lightbox_buttons">
                        <div class="lightbox_button">
                            <div class="button_icon" id="button_icon_close"></div>
                        </div>
                    </div>
                </div>
                <div id="lightbox_inner_content_wrap">
                    <div id="lightbox_inner_content">
                        <div id="lightbox_content">
                            <div class="lightbox_image">
                                <div id="img_container" style=""><img src="" alt=""></div>
                                <p></p>
                                <p class="download"><a href="" target="_blank">Download Image<span></span></a></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="lightbox_button_wrap lightbox_button_wrap_right">
                    <div class="lightbox_buttons bottom_lightbox_buttons">
                        <div class="lightbox_button">
                            <div class="button_icon" id="button_icon_next"></div>
                        </div>
                    </div>
                </div>
                <div class="lightbox_button_wrap lightbox_button_wrap_left">
                    <div class="lightbox_buttons bottom_lightbox_buttons">
                        <div class="lightbox_button">
                            <div class="button_icon" id="button_icon_prev"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>