<div id="lightbox">
    <div class="container">
        <div id="lightbox_outer_content_wrap">
            <div id="lightbox_outer_content">
                <div class="lightbox_button_wrap lightbox_button_wrap_right">
                    <div class="lightbox_buttons top_lightbox_buttons">
                        <div class="lightbox_button">
                            <div class="button_icon" id="button_icon_close"></div>
                        </div>
                    </div>
                </div>
                <div id="lightbox_inner_content_wrap">
                    <div id="lightbox_inner_content">
                        <div id="lightbox_content">
                            <h2>4th Brigade Combat Team,<br />4th Infantry Division</h2>
                            <div class="unit-insignia">
                                <div class="unit-insignia-img">
                                    <img src="/e2/rv5_images/medalofhonor/groberg/unit/4th.png" alt="4th Infantry Division" />
                                </div>
                                <div class="unit-insignia-text">
                                    <h5>Steadfast and loyal</h5>
                                    <p>4th Infantry Division Unit Insignia</p>
                                </div>
                            </div>
                            <p>Headquarters and Headquarters Company, 4th Brigade, 4th Infantry Division, was originally activated as a new unit, Dec. 1, 1975, on Fort Carson, Colorado. In March 1976, the unit moved to Wiesbaden, Germany, to serve as a forward brigade allowing rotational assignments for Fort Carson Soldiers. By the end of 1976, however, the rotational arrangement had been terminated. HHC, 4th Brigade, 4th Infantry Division, remained in Germany until it was inactivated, Sept. 15, 1984. The unit was temporarily reactivated at Fort Carson in 1996 from January 16 to March 15.</p>
                            <div class="mobile-unit-insignia">
                                <div class="unit-insignia-img">
                                    <img src="/e2/rv5_images/medalofhonor/groberg/unit/4th.png" alt="4th Infantry Division" />
                                </div>
                                <div class="unit-insignia-text">
                                    <h5>Steadfast and loyal</h5>
                                    <p>4th Infantry Division Unit Insignia</p>
                                </div>
                            </div>
                            <p>On Dec. 16, 2004, HHC, 4th Brigade, 4th Infantry Division, was redesignated as Headquarters, 4th Brigade Combat Team (BCT), 4th Infantry Division, and activated at Fort Hood, Texas, as part of the Army Modular Force. The unit deployed to Baghdad in support of Operation Iraqi Freedom from December 2005 to November 2006, earning a Meritorious Unit Commendation (MUC) for its outstanding service.</p>
                            <p>In March 2008, the flag and lineage of the 4th BCT was moved from Fort Hood to Fort Carson, as part of a series of unit reflagging actions affecting several brigades throughout the U.S. Army. In June 2009, the 4th BCT began a yearlong deployment to Nuristan, Nangahar, Kunar, and Laghman provinces in Afghanistan in support of Operation Enduring Freedom. The unit earned a second MUC for its actions during this deployment. The 2009 deployment is recognized as one of the most decorated in the brigade’s history, producing numerous Purple Hearts, awards for valor, Silver Stars and two Medal of Honor recipients.</p>
                            <p>The brigade returned to the same region of Afghanistan, March 2008, for a nine-month deployment, earning a third MUC. Finally, the 4th BCT earned a fourth MUC during its third deployment to Afghanistan as an element of the International Security Assistance Force, Regional Command – South in 2014 from April 6 to December 1.</p>
                            <p>The unit was inactivated on Fort Carson, April 15, 2015, when its personnel were reflagged as HHC, 2nd Infantry Brigade Combat Team, 4th Infantry Division.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>