.bio-bullets {
    @include span(12);
    margin: 0 0 15px;
    @include breakpoint(mobile) {
        @include row();
        margin: 0 0 10px;
        padding: 0;
    }
    
    .bio-img {
        @include span(4);
        
        img {
            width: 100%;
        }
        
        @include breakpoint(tablet mobile) {
            display: none;
        }
    }
    
    .list {
        overflow: hidden;
        *margin-right: -1px;

        div {
            border-left: 5px solid $standout_text;
            margin: 0 0 15px;
            padding: 0 0 0 5px;
            h4 {
                color: lighten($text-base-color, 20);
                font-size: .9em;
                text-transform: uppercase;
            }
            p {
                margin: 0;
                text-align: inherit;
            }
        }
        @include span(4);
        @include breakpoint(mobile) {
            @include span(12);
        }

        @include breakpoint(tablet) {
            @include span(6);
        }
    }
}