#ceremony {
    background-color: $section-divider-color;
    
    .section-content {
        @include row;
        margin: 50px 0 0;
        
        .inner-container {
            cursor: pointer;
            margin: 0 1.00806% 15px;
            position: relative;
            @include span(4);
            padding: 0;
            
            .show-hide-caption {
                border-bottom: 1px solid $divider-color;
                display: none;
                margin: 0 0 15px;
                padding: 10px 0;
            }
            
            .img-caption {
                margin: 0;
                max-height: 0;
                opacity: 0;
                @include transition(all .2s linear 0s);
            }
            
            a {
                bottom: 0;
                position: absolute;
                right: 0;
                
                span {
                    background-image: url($sprite);
                    background-position: -302px -132px;
                    background-repeat: no-repeat;
                    display: inline-block;
                    height: 35px;
                    width: 35px;
                }
            }
            
            img {
                width: 100%;
            }
            
            @include old-ie() {
                margin: 0 0 15px;
                
                a {
                    right: 4%;
                }
                
                img {
                    margin: 0 4%;
                    max-width: 92%;
                    width: auto;
                }
            }
            
            @include breakpoint(tablet) {
                @include span(6);
                padding: 0;
            }
            
            @include breakpoint(mobile) {
                cursor: inherit;
                margin: 0;
                width: 100%;
                
                .show-hide-caption {
                    display: block;
                }
                
                &.show-caption {
                    .img-caption {
                        margin: 0 0 25px;
                        max-height: 300px;
                        opacity: 1;
                    }
                }
                
                a {
                    display: none;
                    height: 0;
                }
                
                img, p {
                    float: left;
                    width: 100%;
                }
                
                p {
                    color: $standout-text;
                    font-size: .813em;
                    margin: 0;
                    text-align: left;
                }
            }
            
        }
        
        .ceremony-image-btn:hover {
            .ceremony-images-overlay {
                position: absolute;
                top: 0;
                background-color: rgba($base, 0.5);
                width: 92%;
                height: 97%;
                margin-left: 4%;
                word-wrap: break-word;
            }
        }
    }
    
    .stars-and-stripes {
        @include row();
        height: 40px;
        margin: 15px 0 0;
        position: relative;
        text-align: center;
        .stripes {
            border-bottom: 2px solid $standout-text;
            border-top: 2px solid $standout-text;
            height: 6px;
            margin: 16px auto 0;
            @include span(6);
            float: none;
            
            @include breakpoint(tablet) {
                @include span(8);
                float: none;
            }
            @include breakpoint(mobile) {
                @include span(10);
                float: none;
            }
        }
        .stars {
            background-color: $section-divider-color;
            height: 100%;
            margin: -26px auto 0;
            padding: 0 10px;
            width: 44px;
            
            @include old-ie() {
                position: relative;
            }
            
            @include yep(svg) {
                padding: 0 7px 0 10px;
            }
            
            span {
                background-repeat: no-repeat;
                float: left;
                height: 40px;
                width: 44px;
                
                @include yep(backgroundsize) {
                    background-image: url($moh-star-2x);
                    background-size: 44px 40px;
                }
                @include nope(backgroundsize) {
                    background-image: url($sprite);
                    background-position: -400px -82px;
                }
                @include yep(svg) {
                    background-image: url($moh-star-svg);
                    background-size: inherit;
                    width: 41px;
                }
            }
        }
    }
    
    .section-text {
        
        @include span(10);
        @include offset(1);
        
        @include breakpoint(tablet mobile) {
            @include span(12);
            margin: 0;
        }
        
        .quote {
            border: none;
            margin: 0;
            padding: 30px 0;
            
            p:nth-of-type(1) {
                text-transform: uppercase;
            }
            p.last {
                margin: 0;
            }
        }
    }
    
    .button-wrap {
        @include row();
        margin: 0 0 50px;
        text-align: center;
        
        .button {
            background-color: transparent;
            display: inline-block; // should be ok in old ie
            float: none;
            
            &:hover, &:focus {
                background-color: lighten($text-base-color, 20);
            }
            
            &.last {
                margin: 0 0 0 10px;
            }
            
            @include breakpoint(mobile) {
                &.last {
                    margin: 10px 0 0;
                }
            }
        }
    }
}
