//Conflict Colors
$base:#22396B;
$body_background_color: #faf9f8;
$accent_color: #e3e2dc;
$text_base_color: #343330;
//$divider_color: #696967;
$divider_color: #ccc;
$standout_text: #6a6862;
$video_background: #3d3d3d;

$svg-fill: $standout_text;

$section_divider_color: $accent_color;
$menu_background_color: $section_divider_color;

// Controls
$main_background_color: #cbc9be;
$main_text_color: #343331;

// Video List
$list_background_color: $body_background_color;
$list_hover_color: #E3E2DE;
$list_current_color: #343331;
$list_text_current_color:#0C59AB;
$list_text_duration_color: #BDBDBD;

// Social Media brand colors
$fb: #3c5a99;
$twitter: #55acee;
$google: #dc4e41;
$pinterest: #bd081c;
