$container:992px;

a {
    text-decoration: none;
    color: lighten($text-base-color, 20);
    &:hover, &:focus, &:active {
        color: darken($text-base-color, 20);
    }
}

p {
    font-size: .938em;
    line-height: 1.5em;
    margin: 0 0 25px;
    text-align: justify;
    
    @include breakpoint(mobile) {
        text-align: left;
    }
    
    &.last {
        margin: 0;
    }
    
    &.download {
        font-size: smaller;
        margin-top: 5px;
        @include breakpoint(tablet mobile) {
            display: none;
        }

        span {
            background-repeat: no-repeat;
            display: block;
            float: left;
            height: 11px;
            margin-top: 4px;
            margin-right: 3px;
            width: 11px;
            @include yep(svg) {
                background-image: url($download-svg);
            }

            @include nope(svg) {
                background-image: url($download-png);
            }
        }
    }
}

.row {
    @include row();
}

.sup {
    font-size: .5em;
    vertical-align: top;
}
