@mixin accentFont() {
    font-family: 'Quattrocento', serif;
}

@mixin bodyFont() {
    font-family: 'Open Sans', sans-serif;
}

body {
    font-size: 100%;
    @include bodyFont();
}

#page {
    font-size: 1em;
    /* equivalent to 16px */
    line-height: 1.25;
    /* equivalent to 20px */
}

@media (min-width: 43.75em) {
    #page {
        line-height: 1.375;
        /* equivalent to 22px */
    }
}

//header 2
@mixin header_1() {
    font-size: 2em;
    line-height: 1.25;
    @media (min-width: 43.75em) {
        font-size: 2.5em;
        line-height: 1.125;
    }
    @media (min-width: 56.25em) {
        font-size: 3em;
        line-height: 1.05;
    }
}


//Header 2
@mixin header_2() {
    font-size: 1.625em;
    line-height: 1.15384615;
    
    @media (min-width: 43.75em) {
        font-size: 2em;
        line-height: 1.25;
    }

    @media (min-width: 56.25em) {
        font-size: 2.25em;
        line-height: 1.25;
    }
}

//Header 3
@mixin header_3() {
    font-size: 1.375em;
    line-height: 1.13636364;
    
    @media (min-width: 43.75em) {
        font-size: 1.5em;
        line-height: 1.25;
    }
    
    @media (min-width: 56.25em) {
        font-size: 1.75em;
        line-height: 1.25;
    }

}

//Header 4
@mixin header_4() {
    font-size: 1.125em;
    line-height: 1.11111111;
    
    @media (min-width: 43.75em) {
        line-height: 1.22222222;
    }
}


//Blockquote

@mixin block_quote() {
    font-size: 1.25em;
    line-height: 1.25;
    
    @media (min-width: 43.75em) {
            font-size: 1.5em;
            line-height: 1.45833333;
    }
}

//Default Declarations
h1 {
    @include header_1();
}

h2 {
    @include accentFont();
    @include header_2();
    text-align: center;
}

h3 {
    @include header_3();
}

h4 {
    @include header_4();
}

blockquote {
    @include block_quote();
}

