.footer {
    background-color: $accent_color;
    @include row();
    
    .container {
        margin: 50px auto;
    }
    
    .footer-block-container {
        @include span(12);
    }
    
    .footer-block {
        @include span(4);
        
        .army-star {
            background-repeat: no-repeat;
            float: left;
            height: 127px;
            width: 100px;
            
            @include yep(backgroundsize) {
                background-image: url($army-star-2x);
                background-size: 100px 127px;
            }
            @include nope(backgroundsize) {
                background-image: url($sprite);
                background-position: 0 -81px;
            }
            @include yep(svg) {
                background-image: url($army-star-svg);
                background-size: inherit;
            }
        }
        
        .inner-block {
            border-left: 1px solid $main_background_color;
            margin: 0 0 -500em;
            padding: 0 0 500em 20px;
            
            @include breakpoint(tablet) {
                &.left {
                    border: none;
                    margin: 0;
                    padding: 0;
                }
            }
            
            @include breakpoint(mobile) {
                border: none;
                margin: 0;
                padding: 0;
            }
        }
        
        .social-container {
            float: left;
            height: 127px;
            margin: 0 0 0 20px;
            position: relative;
            width: 140px;
            
            .social-container-inner {
                bottom: 0;
                position: absolute;
                
                h4 {
                    color: $svg-fill;
                    margin: 0 0 10px;
                    text-transform: uppercase;
                }
                
                .social {
                    float: left;
                    height: 24px;
                    margin: 0 15px 0 0;
                    
                    &.last {
                        margin: 0;
                    }
                    
                    @include yep(backgroundsize) {
                        background-repeat: no-repeat;
                        &.facebook {
                            background-image: url($facebook-png);
                            background-size: 12px 24px;
                            width: 12px;
                            &:hover { background-image: url($facebook-hover-png); }
                        }
                        &.google {
                            background-image: url($googleplus-png);
                            background-size: 33px 24px;
                            margin-top: 2px;
                            width: 33px;
                            &:hover { background-image: url($googleplus-hover-png); }
                        }
                        &.twitter {
                            background-image: url($twitter-png);
                            background-size: 26px 19px;
                            height: 19px;
                            margin-top: 3px;
                            width: 26px;
                            &:hover { background-image: url($twitter-hover-png); }
                        }
                        &.pinterest {
                            background-image: url($pinterest-png);
                            background-size: 24px 24px;
                            width: 24px;
                            &:hover { background-image: url($pinterest-hover-png); }
                        }
                    }
                    
                    @include nope(backgroundsize) {
                        background-image: url($sprite);
                        background-repeat: no-repeat;
                        &.facebook {
                            background-position: -302px -82px;
                            width: 12px;
                            &:hover { background-position: -302px -107px; }
                        }
                        &.google {
                            background-position: -341px -82px;
                            margin-top: 2px;
                            width: 33px;
                            &:hover { background-position: -341px -107px; }
                        }
                        &.twitter {
                            background-position: -315px -82px;
                            height: 19px;
                            margin-top: 3px;
                            width: 26px;
                            &:hover { background-position: -315px -107px; }
                        }
                        &.pinterest {
                            background-position: -376px -82px;
                            width: 24px;
                            &:hover { background-position: -376px -107px; }
                        }
                        a {
                            display: block;
                            height: 100%;
                            width: 100%;
                        }
                    }
                    
                    @include yep(svg) {
                        &.facebook, &.google, &.twitter, &.pinterest {
                            background-image: none;
                            background-size: inherit;
                            &:hover { background-image: none; background-size: inherit; }
                        }
                        svg {
                            path {
                                fill: $svg-fill;
                                @include transition(all .10s ease-in-out);
                            }
                        }
                        &.facebook:hover {
                            svg {
                                path { fill: $fb; }
                            }
                        }
                        &.twitter:hover {
                            svg {
                                path { fill: $twitter; }
                            }
                        }
                        &.google:hover {
                            svg {
                                path { fill: $google; }
                            }
                        }
                        &.pinterest:hover {
                            svg {
                                path { fill: $pinterest; }
                            }
                        }
                    }
                } // end .social
            } // end social-container-inner
        } // end social-container
        
        @include breakpoint(desktop) {
            @include span(3);
            &.left {
                @include span(4);
            }
            
            &.first {
                @include span(5);
            }
        }
        
        @include breakpoint(tablet) {
            @include span(5);
            
            &.left {
                @include span(7);
            }
            
            &.first {
                @include span(12);
                margin: 0 0 30px;
            }
        }
        @include breakpoint(mobile) {
            @include span(12);
            &.left, &.first {
                margin: 0 0 30px;
            }
        }
    }
    
    .footer-heading {
        font-weight: 700;
        margin: 0 0 10px;
        
        @include breakpoint(mobile) {
            border-top: 1px solid $divider_color;
            margin: 0;
            padding: 30px 0 0;
        }
    }
    
    ul {
        color: lighten($accent_color, 10);
        
        li {
            line-height: 1.2em;
            padding: .5em 0 0;
            a {
                @include linkUnderline();
                color: $standout_text;
                font-size: .938em;
            }
        }
    }
}

.bottom-footer{
    text-align: center;
    width: 100%;
    
    ul {
        padding: 30px 10px;
        
        li {
            display: inline;
            line-height: 1.5;
            padding: 0 10px;
            
            a {
                @include linkUnderline();
                color: lighten($accent-color, 10);
                text-transform: uppercase;
            }
            
            @include breakpoint(tablet mobile) {
                display: block;
                padding: 0 10px 10px;
                
                &.last {
                    padding: 0 10px;
                }
            }
        }
    }
}
