$path: "/e2/rv5_images/medalofhonor/groberg/";
$yt-path: "/e2/rv5_images/youtube_player/";

$sprite: $path + "graphics/sprite.png";

//Youtube Images
$yt-sprite: $yt-path + "yt_sprite.png";
$audio-svg: $yt-path + "audio.svg";
$audio-png: $yt-path + "audio.png";

//Army Star
$army-star-2x: $path + "graphics/army_star_2x.png";
$army-star-svg: $path + "graphics/army_star.svg";

//Logos
$logo: $path + "graphics/groberg_logo.png";
$stacked-logo: $path + "graphics/groberg_logo_stacked.png";
$logo-2x: $path + "graphics/groberg_logo_2x.png";
$stacked-logo-2x: $path + "graphics/groberg_logo_stacked_2x.png";

//Lightbox
$lightbox-background: $path + "graphics/bg.png";

$arrow-right-svg: $path + "graphics/arrow_right.svg";
$arrow-right-hover-svg: $path + "graphics/arrow_right_hover.svg";
$arrow-left-svg: $path + "graphics/arrow_left.svg";
$arrow-left-hover-svg: $path + "graphics/arrow_left_hover.svg";
$close-button-svg: $path + "graphics/close.svg";
$close-button-hover-svg: $path + "graphics/close_hover.svg";

//Profile
$masthead-logo-SVG: $path + "graphics/logo_masthead.svg";
$masthead-logo-PNG: $path + "graphics/logo_masthead.png";

//Ceremony Icons
$moh-star-2x: $path + "graphics/moh_star_2x.png";
$moh-star-svg: $path + "graphics/moh_star.svg";

//Download Icon
$download-png: $path + "graphics/download.png";
$download-svg: $path + "graphics/download.svg";

//Multimedia:
//$multimedia-overlay-background: $path + "graphics/image_hover.png";

//Mastheads:
$mastheads: $path + "masthead/480.jpg", $path + "masthead/768.jpg", $path + "masthead/992.jpg", $path + "masthead/1200.jpg", $path + "masthead/2500.jpg";

//Video Mastheads:
$video-mastheads: $path + "video_masthead/480.jpg", $path + "video_masthead/768.jpg", $path + "video_masthead/992.jpg", $path + "video_masthead/1200.jpg", $path + "video_masthead/2500.jpg";

//Helicopter Mastheads:
$heli-mastheads: $path + "helicopter_masthead/480.jpg", $path + "helicopter_masthead/768.jpg", $path + "helicopter_masthead/992.jpg", $path + "helicopter_masthead/1200.jpg", $path + "helicopter_masthead/2500.jpg";

//Play Icon
$play-svg: $path + "graphics/play.svg";
$play-2x: $path + "graphics/play_2x.png";
$play-hover-2x: $path + "graphics/play_hover_2x.png";
$play-hover-svg: $path + "graphics/play_hover.svg";

//Social Media
$facebook-png: $path + "graphics/facebook_2x.png";
$facebook-hover-png: $path + "graphics/facebook_hover_2x.png";
$twitter-png: $path + "graphics/twitter_2x.png";
$twitter-hover-png: $path + "graphics/twitter_hover_2x.png";
$googleplus-png: $path + "graphics/googleplus_2x.png";
$googleplus-hover-png: $path + "graphics/googleplus_hover_2x.png";
$pinterest-png: $path + "graphics/pinterest_2x.png";
$pinterest-hover-png: $path + "graphics/pinterest_hover_2x.png";

