#lightbox {
    display: block;
    height: 100%;
    left: 0;
    overflow-y: scroll;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    
    @include yep(rgba) {
        background-color: transparentize(#000, 0.5);
    }
    
    @include nope(rgba) {
        background-image: url($lightbox_background);
        background-repeat: repeat;
    }
    
    .container {
        min-height: 100%;
        
        @include breakpoint(tablet mobile) {
            padding: 0;
        }
        
        .center {
            text-align: center;
        }
        
        .lightbox-outer-video-wrap {
            @include row();
            margin: 100px 0 0;
            
            .lightbox-video-wrap {
                height: 0;
                overflow: hidden;
                padding: 0 0 56.25%;
                position: relative;
                
                iframe {
                    left: 0;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    width: 100%;
                }
            }
        }
        
        #lightbox_outer_content_wrap {
            @include row();
            
            #lightbox_outer_content {
                @include span(10);
                @include offset(1);
                @include breakpoint(tablet mobile) {
                    @include span(12);
                    @include offset(0);
                }
                
                background-color: lighten($accent_color, 10);
                height: 100%;
                position: relative;
                
                .lightbox_button_wrap {
                    width: 60px;
                    overflow: hidden;
                    position: absolute;
                    right: 0;
                    .lightbox_buttons {
                        position: fixed;
                        
                        .lightbox_button {
                            background-color: lighten($text_base_color, 20);
                            cursor: pointer;
                            overflow: hidden;
                            width: 60px;
                            
                            .button_icon {
                                height: 20px;
                                margin: 20px;
                                
                                &#button_icon_next, &#button_icon_prev {
                                    width: 13px;
                                }
                                
                                &#button_icon_prev {
                                    margin-left: 25px;
                                }
                            }
                            
                            @include yep(svg) {
                                .button_icon {
                                    background-repeat: no-repeat;
                                }
                                #button_icon_close {
                                    background-image: url($close_button_svg);
                                }
                                #button_icon_next {
                                    background-image: url($arrow_right_svg);
                                }
                                #button_icon_prev {
                                    background-image: url($arrow_left_svg);
                                }
                                &:hover {
                                    #button_icon_close {
                                        background-image: url($close_button_hover_svg);
                                    }
                                    #button_icon_next {
                                        background-image: url($arrow_right_hover_svg);
                                    }
                                    #button_icon_prev {
                                        background-image: url($arrow_left_hover_svg);
                                    }
                                }
                            }
                            
                            @include nope(svg) {
                                .button_icon {
                                    background-image: url($sprite);
                                }
                                #button_icon_close {
                                    background-position: -338px -132px;
                                }
                                #button_icon_next {
                                    background-position: -422px -132px;
                                }
                                #button_icon_prev {
                                    background-position: -408px -132px;
                                }
                                &:hover {
                                    #button_icon_close {
                                        background-position: -359px -132px;
                                    }
                                    #button_icon_next {
                                        background-position: -394px -132px;
                                    }
                                    #button_icon_prev {
                                        background-position: -380px -132px;
                                    }
                                }
                            }
                        }
                        
                        &.top_lightbox_buttons {
                            top:75px;
                            @include breakpoint(mobile tablet) {
                                top: 0;
                            }
                        }
                        
                        &.bottom_lightbox_buttons {
                            top:200px;
                            @include breakpoint(mobile) {
                                display: none;
                            }
                        }
                    }
                }
                
                .lightbox_button_wrap_right {
                    right: 0;
                }
                .lightbox_button_wrap_left {
                    left: 0;
                }
                
                #lightbox_inner_content_wrap {
                    @include row();
                    #lightbox_inner_content {
                        @include span(10);
                        @include breakpoint(mobile) {
                            @include span(12);
                            @include offset(0);
                        }
                        @include offset(1);
                        
                        .lightbox_image {
                            #img_container {
                                margin-bottom: 20px;
                            }
                            img {
                                max-width: 100%;
                            }
                        }
                        
                        #lightbox_content {
                            padding: 75px 0;
                            
                            h2,
                            h3,
                            h4 {
                                @include accentFont();
                                font-weight: 700;
                                margin: 0 auto 25px;
                                text-transform: uppercase;
                            }
                            
                            h3 {
                                margin: 0;
                            }
                            
                            @include breakpoint(mobile) {
                                padding: 75px 10px;
                            }
                        }
                    }
                }
            }
        }
    }
}

