$screen-mobile-max: 480px;
$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-md-max: 1085px;
$screen-lg-min: 1200px;

$image-sizes: 480px, 768px, 992px, 1200px, 1400px;

$responsive: true;

@mixin breakpoint($points) {
    @each $point in $points {
        @include do-breakpoint(#{$point}) {
            @content;
        }
    }
}

@mixin do-breakpoint($point) {
    @if $responsive {
        //Small devices (phones, less than 768px)
        @if $point == mobile {
            // 480 and below
            @media (max-width: $screen-mobile-max) {
                @content;
            }
        }
        @else if $point == tablet {
            // 481 - 768
            @media (min-width: $screen-mobile-max + 1) and (max-width: $screen-sm-min) {
                @content;
            }
        }
        @else if $point == desktop {
            // 769 - 992
            @media (min-width: $screen-sm-min + 1) and (max-width: $screen-md-min) {
                @content;
            }
        }
        @else if $point == large {
            // 993 - 1200
            @media (min-width: $screen-md-min + 1) and (max-width: $screen-lg-min) {
                @content;
            }
        }
        @else if $point == xl {
            // 1201 and up
            @media (min-width: $screen-lg-min + 1) {
                @content;
            }
        }
    }
}

@mixin masthead($size) {
    @if $responsive {
        @if $size == 1 {
            @media (max-width: nth($image-sizes, 1)) {
                @content;
            }
        }
        @else if $size == 2 {
            @media (min-width: nth($image-sizes, 1)) and (max-width: nth($image-sizes, 2)) {
                @content;
            }
        }
        @else if $size == 3 {
            @media (min-width: nth($image-sizes, 2)) and (max-width: nth($image-sizes, 3)) {
                @content;
            }
        }
        @else if $size == 4 {
            @media (min-width: nth($image-sizes, 3)) and (max-width: nth($image-sizes, 4)) {
                @content;
            }
        }
        @else if $size == 5 {
            @media (min-width: nth($image-sizes, 4)) {
                @content;
            }
        }
    }
}
