@mixin transition($args...) {
    -webkit-transition: $args;
    -moz-transition: $args;
    -ms-transition: $args;
    -o-transition: $args;
    transition: $args;
}

// keep?
@mixin flex() {
    // https://css-tricks.com/using-flexbox/
    display: -webkit-box;      // OLD - iOS 6-, Safari 3.1-6
    display: -moz-box;         // OLD - Firefox 19- (buggy but mostly works)
    display: -ms-flexbox;      // TWEENER - IE 10
    display: -webkit-flex;     // NEW - Chrome
    display: flex;             // NEW, Spec - Opera 12.1, Firefox 20+
}

@mixin no-transition() {
    -webkit-transform: none;
    -moz-transform: none;
    transform: none;
    @include transition(none);
    opacity: 0;
}

@mixin linkUnderline(){
    &:hover, &:active, &:focus{
        text-decoration: underline;
    }
}

@mixin blockquote() {
    @include accentFont();
    border-left: 5px solid lighten($text_base_color, 20);
    padding-left: 5px;
}

$old-ie: false !default;

@mixin old-ie {
    // Only use this content if we're dealing with old IE
    @if $old-ie {
        @content;
    }
}

@mixin Opacity($value){
    $IEValue: $value*100;
    opacity: $value;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity="+$IEValue+")";
    filter: alpha(opacity=$IEValue);
}