#army-news {
    background-color: lighten($accent-color, 10);
    .news {
        margin: 0 0 50px;
        overflow: hidden;
        #news-section {
            @include span(8);
            @include breakpoint(tablet mobile) {
                @include span(12);
                border-bottom: 1px solid $divider_color;
                margin: 0 0 20px;
            }
            
            .news-stories {
                @include row();
                .news-story {
                    @include span(6);
                    @include breakpoint(mobile) {
                        @include span(12);
                    }
                    
                    img {
                        width: 100%;
                    }
                    
                    p {
                        font-weight: 700;
                        margin: 10px 0 30px;
                        text-align: left;
                    }
                }
            }
            
            .more-news {
                overflow: hidden;
                text-align: center;
                
                @include breakpoint(tablet mobile) {
                    margin: 0 0 30px;
                    
                    .button {
                        display: inline-block;
                        float: none;
                    }
                }
            }
        }
        #ext-news-section-wrap {
            @include span(4);
            @include breakpoint(tablet mobile) {
                @include span(12);
            }
            
            #ext-news-section {
                border-left: 1px solid $divider_color;
                margin: 0 0 -500em;
                overflow: hidden;
                padding: 0 0 500em 20px;
                h3 {
                    font-weight: 700;
                    margin: 0 0 10px;
                    text-transform: uppercase;
                    @include accentFont();
                }
                a {
                    // display: block; // don't do this to an inline element
                    float: left;
                    font-size: .938em;
                    margin: 0 0 10px;
                    span {
                        font-weight: 700;
                    }
                }
                @include breakpoint(tablet) {
                    a {
                        @include span(6);
                    }
                }
                @include breakpoint(tablet mobile) {
                    border: none;
                    margin: 0;
                    padding: 0;
                    text-align: center;
                    
                    a {
                        text-align: left;
                    }
                }
            }
        }
    }
}
