#top_bar {
    background-color: $base;
    height: 50px;
    position: fixed;
    top: 30px;
    left: 0;
    right: 0;
    z-index: 10;
    
    &.collapsed {
        top: 0;
    }
    
    @include breakpoint(sm_desktop) {
        top: 0;
    }
    
    @include breakpoint(desktop tablet mobile) {
        top: 0;
        height: 66px;
        @include transition(all .25s linear 0s);
    }
    
    .top_bar_container {
        position: relative;
    }
    
    #groberg-logo {
        background-repeat: no-repeat;
        background-position: center center;
        float: left;
        height: 40px;
        margin: 5px 20px;
        width: 470px;
        
        @include yep(backgroundsize) {
            background-image: url($logo-2x);
            background-size: 470px 40px;
            
            @include breakpoint(desktop tablet mobile) {
                background-image: url($stacked-logo-2x);
                background-size: 216px 40px;
                width: 216px;
            }
        }
        
        @include nope(backgroundsize) {
            background-image: url($sprite);
            background-position: 0 0;
            
            @include breakpoint(desktop tablet mobile) {
                background-position: 0 -40px;
                height: 41px;
                width: 218px;
            }
        }
        
        @include breakpoint(desktop tablet mobile) {
            margin-top: 15px;
        }
    }
    
    .hamburger {
        cursor: pointer;
        display: none;
        height: 66px;
        overflow: hidden;
        position: absolute;
        right: 0;
        top: 0;
        width: 55px;
        z-index: 11;
        
        @include breakpoint(tablet mobile) {
            display: block;
        }
        
        *,
        *:before,
        *:after {
            -moz-transform: translate3d(0,0,0);
            -webkit-transform: translate3d(0,0,0);
            transform: translate3d(0,0,0);
        }
        
        &.active {
            span {
                background: transparent;
                
                &::before {
                    -moz-transform: rotate(-45deg);
                    -webkit-transform: rotate(-45deg);
                    transform: rotate(-45deg);
                }
                
                &::after {
                    -moz-transform: rotate(45deg);
                    -webkit-transform: rotate(45deg);
                    transform: rotate(45deg);
                }
                
                &::before, &::after {
                    top: 0;
                }
            }
        }
        
        span, span::before, span::after {
            background-color: #fff;
            height: 5px;
            width: 25px;
            right: 12px;
            top: 30px;
            position: absolute;
            @include transition(all .15s linear 0s);
        }
        
        span::before {
            top: 10px;
        }
        
        span::after {
            top: -10px;
        }
        
        span::before, span::after {
            content: '';
            display: block;
            right: 0;
        }
        
        @include breakpoint(desktop tablet mobile) {
            display: block;
        }
    }
    #menu {
        display: block;
        position: fixed;
        right: 0px;
        top: 30px;
        z-index: 10;
        
        @include accentFont();
        
        &.collapsed {
            top: 0;
        }
        
        @include breakpoint(desktop tablet mobile) {
            height: 100%;
            right: 0;
            top: 66px;
            width: 0;
            
            &.collapsed {
                top: 66px;
            }
            
            @include transition(all .30s linear 0s);
            
            &.open {
                width: 100%;
                
                &.half {
                    width: 50%;
                }
            }
        }
        
        #menu_inner {
            background-color: $base;
            color: white;
            overflow: hidden;
            @include breakpoint(desktop tablet mobile) {
                height: 100%;
                white-space: nowrap;
            }
            
            div {
                float: left;
                position: relative;
                a {
                    color: white;
                    display: block;
                    padding: 14px 20px;
                    text-transform: uppercase;
                    font-weight: bold;
                }
                &:hover, &:focus {
                    background-color: darken($base, 10);
                }
                &.active {
                    background-color: darken($base, 10);
                }
                @include breakpoint(desktop tablet mobile) {
                    float: none;
                    &:hover, &:focus {
                        background-color: darken($base, 10);
                    }
                }
            }
        }
    }
}
