@import 'reset';
@import 'modernizr';
@import 'mixins';
@import 'spans';
@import 'media_queries';
@import 'colors';
@import 'fonts';
@import 'images';
@import 'defaults';
@import 'youtube';
@import 'footer';
@import 'lightbox';
@import 'multimedia';
@import 'top_bar';
@import 'ceremony';
@import 'bio';

body {
    background-color: $base;
    color: $text-base-color;
    #featureBar {
        display: block;
        position: fixed;
        top: 0;
        z-index: 10;
        &.fb_collapsed {
            display: none;
        }
        @include breakpoint(desktop tablet mobile) {
            display: none;
        }
    }
    #addThisBackground {
        display: none;
        @include breakpoint(mobile) {
            position: fixed;
            height: 45px;
            width: 100%;
            bottom: 0;
            display: block;
            background-color: $base;
        }
    }
}

.masthead_buffer {
    height: 80px;
    @include breakpoint(desktop tablet mobile) {
        height: 66px;
    }
}

.masthead_container {
    padding: 0 0 56.25%;
    position: relative;
    width: 100%;
    .full_width_image {
        background-color: $base;
        background-position: center top;
        background-repeat: no-repeat;
        background-size: contain;
        height: 100%;
        margin: 0 auto;
        overflow: hidden;
        position: absolute;
        width: 100%;
        &#profile_image {
            // default image
            background-image: url(nth($mastheads, 5));
            @each $img in $mastheads {
                $i: index($mastheads, $img);
                @include masthead($i) {
                    background-image: url($img);
                }
            }
            //CSS for SVG on profile page
            #moh_svg {
                width: percentage(569 / 1200);
                height: percentage(135 / 675);
                background-repeat: no-repeat;
                position: absolute;
                bottom: percentage(55 / 1200);
                left: percentage(35 / 675);
                @include yep(svg) {
                    background-size: contain;
                    background-image: url($masthead-logo-SVG);
                    img {
                        display: none;
                    }
                }

                @include nope(svg) {
                    img {
                        display: block;
                        width: 100%;
                    }
                }
            }
        }
        &#battle_video {
            // default image
            background-image: url(nth($video-mastheads, 5));
            @each $img in $video-mastheads {
                $i: index($video-mastheads, $img);
                @include masthead($i) {
                    background-image: url($img);
                }
            }
            .overlay {
                background-color: $video-background;
                left: 0;
                height: 100%;
                position: absolute;
                top: 0;
                width: 100%;
                @include Opacity(0.7);
            }
            .overlay-2 {
                left: 0;
                position: absolute;
                text-align: center;
                top: 33%;
                width: 100%;
                z-index: 1;
                a {
                    display: inline;
                    height: 100px;
                    width: 100px;
                }
                h2 {
                    color: #fff;
                    font-weight: 700;
                    margin: 15px 0 0;
                    text-transform: uppercase;
                }
                p {
                    color: $divider-color;
                    font-weight: 600;
                }
                h2, p {
                    text-align: center;
                }
                span {
                    background-repeat: no-repeat;
                    display: inline-block;
                    height: 100px;
                    width: 100px;
                    @include yep(backgroundsize) {
                        background-image: url($play-2x);
                        background-size: 100px 100px;
                    }

                    @include nope(backgroundsize) {
                        background-image: url($sprite);
                        background-position: -100px -82px;
                    }

                    @include yep(svg) {
                        background-image: url($play-svg);
                        background-size: inherit;
                    }

                    &:hover {
                        @include yep(backgroundsize) {
                            background-image: url($play-hover-2x);
                            background-size: 100px 100px;
                        }

                        @include nope(backgroundsize) {
                            background-image: url($sprite);
                            background-position: -201px -82px;
                        }

                        @include yep(svg) {
                            background-image: url($play-hover-svg);
                            background-size: inherit;
                        }
                    }
                }
                @include breakpoint(tablet) {
                    top: 25%;
                }

                @include breakpoint(mobile) {
                    top: 25%;
                    h2, p {
                        display: none;
                    }
                }
            }
            // end overlay-2
     
        }
        &#helicopter {
            // default image
            background-image: url(nth($heli-mastheads, 5));
            @each $img in $heli-mastheads {
                $i: index($heli-mastheads, $img);
                @include masthead($i) {
                    background-image: url($img);
                }
            }
        }
    }
}

.video-caption {
    background-color: $standout-text;
    display: none;
    padding: 20px 10px;
    h2 {
        font-weight: 700;
        text-transform: uppercase;
    }
    h2, p {
        color: #fff;
        margin: 0;
        text-align: center;
    }
    @include breakpoint(mobile) {
        display: block;
    }
}

.container {
    margin: 0 auto;
    max-width: $container;
    overflow: hidden;
    @include breakpoint(tablet mobile) {
        padding: 0 10px;
    }

    .section-title {
        @include row;
        margin: 50px 0 25px 0;
        text-align: center;
        h2, h3 {
            @include span(12);
            @include accentFont;
            text-transform: uppercase;
            font-weight: 700;
        }
        h4 {
            color: $standout-text;
            font-weight: 600;
            @include breakpoint(tablet mobile) {
                font-size: 1em;
                line-height: 1.5;
            }
            @include old-ie() {
                line-height: 1.5;
            }
        }
    }
    .button {
        background-color: lighten($accent-color, 10);
        float: left;
        &:hover, &:focus {
            background-color: lighten($text-base-color, 20);
            a {
                color: lighten($accent-color, 10);
            }
        }
        a {
            // display: block; // don't do this to an inline element
            border: 2px solid lighten($text-base-color, 20);
            color: lighten($text-base-color, 20);
            float: left;
            padding: 5px 10px;
            text-align: center;
        }
    }
}

#biography {
    .breakout-imgs {
        margin-bottom: 30px;
        .imgs-container {
            .caption {
                color: $standout-text;
                font-size: .813em;
                margin-bottom: 0;
                text-align: left;
            }
        }
    }
}

#biography, #battle {
    .breakout-imgs {
        @include span(10);
        @include offset(1);
        @include breakpoint(tablet mobile) {
            @include span(12);
            margin: 0 0 25px;
        }

        .imgs-container {
            border-bottom: 1px solid $divider-color;
            border-top: 1px solid $divider-color;
            overflow: hidden;
            padding: 20px 0;
            .inner-container {
                float: left;
                padding: 0;
                width: 49.75%;
                &.last {
                    float: right;
                }
                p {
                    color: $standout-text;
                    font-size: .813em;
                    margin-bottom: 0;
                    text-align: left;
                }
                @include breakpoint(tablet) {
                    width: 49.5%;
                }

                @include breakpoint(mobile) {
                    width: auto;
                    &.last {
                        float: left;
                        margin: 25px 0 0;
                    }
                }
            }
            // end .inner-container
            .inner-container, .full-inner-container {
                div {
                    cursor: pointer;
                    margin: 0 0 5px;
                    position: relative;
                    a {
                        bottom: 0;
                        position: absolute;
                        right: 0;
                        span {
                            background-image: url($sprite);
                            background-position: -302px -132px;
                            background-repeat: no-repeat;
                            display: inline-block;
                            height: 35px;
                            width: 35px;
                        }
                    }
                    img {
                        width: 100%;
                    }
                }
                @include breakpoint(mobile) {
                    div {
                        cursor: inherit;
                        a {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}

#biography, #battle, #team {
    background-color: lighten($accent-color, 10);
    .section-content {
        @include row;
        margin: 0 0 50px;
        &.mid-section {
            margin: 0;
        }
        h5 {
            font-weight: bold;
            font-size: .8em;
        }
        .section-text {
            @include span(10);
            @include offset(1);
            @include breakpoint(tablet mobile) {
                @include span(12);
                margin: 0;
            }
            
            p {
                &.last {
                    margin: 0 0 30px;
                }
            }
        }
    }
}

#battle {
    .section-subtitle {
        @include row;
        text-align: center;
        span {
            border-right: 1px solid $standout-text;
            color: $standout-text;
            display: inline-block;
            font-weight: 600;
            margin: 0 20px 0 0;
            padding: 0 20px 0 0;
            &.last {
                border: none;
                margin: 0;
                padding: 0;
            }
            @include breakpoint(tablet mobile) {
                border: none;
                display: list-item;
                margin: 0;
                padding: 0;
            }
        }
    }
    .section-content {
        .section-text {
            @include span(10);
            
            &.top {
                margin-top: 30px;
            }
            
            @include breakpoint(tablet mobile) {
                @include span(12);
                &.top {
                    margin-top: 0;
                }
            }
            
            .quote {
                margin: 0 auto;
            }
        }
        .section-portrait {
            @include span(4);
            @include breakpoint(tablet mobile) {
                @include span(12);
                margin: 25px 0 0;
            }
            
            .section-portrait-inner {
                padding: 0 0 0 20px;
                @include breakpoint(tablet mobile) {
                    @include row;
                    padding: 0;
                }
                
                .section-portrait-image {
                    img {
                        width: 100%;
                        margin: 0 0 15px;
                    }
                    @include breakpoint(tablet) {
                        @include span(5);
                        padding-left: 0;
                    }
                }
                .section-portrait-text {
                    h5 {
                        border-bottom: 1px solid $divider-color;
                        color: $standout-text;
                        padding: 0 0 20px;
                    }
                    @include breakpoint(tablet) {
                        @include span(7);
                        h5 {
                            padding: 0 0 0 5px;
                        }
                    }
                }
            }
        } // end section-portrait
        
    }
    .fallen-heroes {
        @include span(11);
        @include offset(1);
        margin-bottom: 50px;
        @include breakpoint(tablet mobile) {
            @include span(12);
            margin: 0 0 25px;
        }
        
        img {
            width: 100%;
        }
    }
    .breakout-imgs {
        .imgs-container {
            border-top: none;
            padding-top: 0;
            .full-inner-container {
                @include row;
                border-top: 1px solid $divider-color;
                padding: 20px 0 0;
            }
        }
    }
    .breakout-imgs, .pop-out-imgs, .pop-out-imgs-mobile {
        .imgs-container {
            img {
                width: 100%;
            }
            p {
                color: $standout-text;
                font-size: .813em;
                margin-bottom: 0;
                text-align: left;
            }
        }
    }
    
    .section-left {
        border-right: 1px solid $divider-color;
        float: left;
        // <3 this hack
        margin: -500em 3.15% -500em 0;
        padding: 500em 3.15% 500em 0;
        width: 62%;
        
        @include breakpoint(desktop) {
            width: 52%;
        }
        
        @include breakpoint(tablet mobile) {
            border: none;
            margin: 0;
            padding: 0;
            width: auto;
        }
    }
    
    .pop-out-imgs {
        float: left;
        width: 31.5%;
        
        @include breakpoint(desktop) {
            width: 41.5%;
        }
        
        @include breakpoint(tablet mobile) {
            display: none;
        }
    }
    
    .pop-out-imgs, .pop-out-imgs-mobile {
        .imgs-container {
            .inner-container {
                &.last {
                    margin: 20px 0 0;
                }
                div {
                    cursor: pointer;
                    margin: 0 0 5px;
                    position: relative;
                    a {
                        bottom: 0;
                        position: absolute;
                        right: 0;
                        span {
                            background-image: url($sprite);
                            background-position: -302px -132px;
                            background-repeat: no-repeat;
                            display: inline-block;
                            height: 35px;
                            width: 35px;
                        }
                    }
                    img {
                        width: 100%;
                    }
                }
                @include breakpoint(mobile) {
                    div {
                        cursor: inherit;
                        a {
                            display: none;
                        }
                    }
                }
            }
        }
    }
    
    .pop-out-imgs-mobile {
        display: none;
        margin: 0 0 30px;
        
        .imgs-container {
            border-bottom: 1px solid $divider_color;
            border-top: 1px solid $divider_color;
            overflow: hidden;
            padding: 20px 0;
        }
        
        @include breakpoint(tablet) {
            .imgs-container {
                .inner-container {
                    float: left;
                    padding: 0;
                    width: 39.5%;
                    &.last {
                        float: right;
                        margin: 0;
                        width: 59.5%;
                    }
                }
            }
        }
        
        @include breakpoint(tablet mobile) {
            display: block;
        }
    }
}

.caption {
    display: block;
    @include breakpoint(mobile) {
        display: none;
    }
}

.mobile-caption {
    display: none;
    @include breakpoint(mobile) {
        display: block;
    }
}

.quote {
    border-bottom: 1px solid $divider-color;
    border-top: 1px solid $divider-color;
    margin: 0 0 25px;
    padding: 20px 0;
    h4 {
        color: $standout-text;
        font-size: 1.5em;
        font-weight: 600;
        line-height: 1.5;
        margin: 0;
        text-align: center;
        
        @include breakpoint(tablet mobile) {
            font-size: 1.25em;
        }
    }
    p {
        color: $standout-text;
        margin: 20px 0 0;
        text-align: center;
    }
    @include breakpoint(desktop tablet mobile) {
        margin: 0 auto 25px;
    }
}

//#citation {
//        background-color: lighten($accent-color, 10);
//        padding-bottom: 90px;
//        #citation_content {
//                @include row();
//                #citation_left {
//                        #citation_left_inner {
//                                @include span(8);
//                                @include breakpoint(mobile tablet) {
//                                        @include span(12);
//                                }
//
//                                h3#citation_title, h4#citation_subtitle {
//                                        @include accentFont();
//                                        text-transform: uppercase;
//                                        font-weight: bold;
//                                }
//                                h4#citation_subtitle {
//                                        margin-bottom: 30px;
//                                }
//                                p {
//                                        margin-bottom: 30px;
//                                }
//                        }
//                }
//                #citation_right {
//                        @include span(4);
//                        @include breakpoint(tablet mobile) {
//                                @include row();
//                                padding: 0;
//                                margin-top: 25px;
//                        }
//
//                        #citation_right_inner {
//                                padding-left: 20px;
//                                @include breakpoint(tablet) {
//                                        @include span(10);
//                                        @include offset(1);
//                                        padding-left: 0px;
//                                }
//
//                                @include breakpoint(mobile) {
//                                        @include span(12);
//                                        @include offset(0);
//                                }
//
//                                #citation_inner_video {
//                                        .video_container {
//                                                position: relative;
//                                                padding-bottom: 56.25%;
//                                                padding-top: 30px;
//                                                height: 0;
//                                                overflow: hidden;
//                                                margin-bottom: 25px;
//                                        }
//                                        .video_container iframe,
//                                        .video_container object,
//                                        .video_container embed {
//                                                position: absolute;
//                                                top: 0;
//                                                left: 0;
//                                                width: 100%;
//                                                height: 100%;
//                                        }
//                                }
//                                #citation_inner_text {
//                                        blockquote {
//                                                @include blockquote();
//                                                margin-bottom: 25px;
//                                        }
//                                        p {
//                                                text-align: left;
//                                        }
//                                        p#byline {
//                                                text-transform: uppercase;
//                                        }
//                                }
//                        }
//                }
//        }
//}

//#stream-ad {
//    background-color: $section_divider_color;
//    display: none;
//    padding: 0 0 50px;
//
//    #stream-info {
//        @include row();
//        #stream-info-left {
//            @include span(8);
//            @include breakpoint(mobile tablet) {
//                @include span(12);
//            }
//
//            blockquote {
//                @include blockquote();
//                margin-bottom: 25px;
//            }
//            .button {
//                margin-top: 25px;
//            }
//        }
//        #stream-info-right {
//            @include span(4);
//            display: block;
//            img {
//                width: 100%;
//            }
//            @include breakpoint(mobile tablet) {
//                display: none;
//            }
//        }
//        #live-stream-feed {
//            @include span(12);
//            iframe {
//                display: block;
//                margin: 0 auto;
//                width: 730px;
//            }
//        }
//        #live-stream-feed {
//            padding: 0 0 56.25%;
//            position: relative;
//            .player {
//                height: 100%;
//                left: 0;
//                position: absolute;
//                top: 0;
//                width: 100%;
//            }
//        }
//    }
//}

//#dvids_ad {
//    @include row();
//    #dvids_inner {
//        @include span(12);
//        p {
//            margin-top: 20px;
//            text-align: right;
//            &#no_flash_msg {
//                text-align: center;
//            }
//        }
//    }
//}

#team {
    .division, .mobile-division {
        background-color: $accent-color;
        border: 2px solid $main-background-color;
        float: right;
        margin: 0 0 25px 30px;
        padding: 10px;
        width: 35%;
        img {
            float: left;
            width: 40%;
        }
        div {
            float: left;
            margin: 0 0 0 10px;
            width: 55%;
            h3 {
                font-size: .938em;
                font-weight: 700;
                margin: 0 0 15px;
                text-transform: uppercase;
            }
            p {
                margin: 0;
                text-align: left;
                a {
                    @include linkUnderline;
                    color: $standout-text;
                }
            }
        }
        &.mobile-division {
            display: none;
            float: left;
            margin: 0 0 30px;
            width: 75%;
            @include offset(1);
            img {
                width: 25%;
            }
            div {
                width: 70%;
            }
        }
        @include breakpoint(tablet) {
            img {
                margin: 0 0 0 15%;
                width: 70%;
            }
            div {
                margin: 10px 0 0;
                text-align: center;
                width: 100%;
                p {
                    text-align: center;
                }
            }
        }

        @include breakpoint(mobile) {
            &.division {
                display: none;
            }
            &.mobile-division {
                display: block;
            }
        }
    }
    .quote {
        @include span(10);
        margin: 0 0 50px;
        @include offset(1);
        border: none;
        padding-bottom: 0;
        padding-top: 0;
        div {
            border-bottom: 1px solid $divider-color;
            border-top: 1px solid $divider-color;
            padding: 20px 0;
        }
        @include breakpoint(tablet mobile) {
            margin: 0 0 50px;
            @include span(12);
        }
    }
}

#fallen {
    background-color: $accent-color;
    .section-content {
        @include row;
        margin: 0 0 50px;
    }
    .teammate {
        @include span(3);
        @include breakpoint(tablet) {
            @include span(6);
            margin: 0 0 30px;
        }

        @include breakpoint(mobile) {
            @include span(12);
            margin: 0 0 30px;
        }

        img {
            width: 100%;
        }
        h4 {
            font-size: 1em;
            font-weight: 600;
            line-height: 1.4;
            margin: 0 0 10px;
        }
        p {
            font-size: .813em;
            margin: 0;
            text-align: left;
            span {
                color: $standout-text;
            }
        }
    }
}

.pop-out-container {
    @include offset(1);
    overflow: hidden;
    @include breakpoint(desktop) {
        margin-left: 0;
    }

    @include breakpoint(tablet mobile) {
        @include row;
        margin: 0;
    }

    .section-text {
        @include span(10);
        width: auto;
        @include breakpoint(desktop) {
            @include offset(1);
            @include span(10);
        }

        @include breakpoint(tablet mobile) {
            @include span(12);
        }

        p {
            @include right-offset(1);
            margin-bottom: 25px;
            &.last {
                margin-bottom: 30px;
            }
            @include breakpoint(desktop) {
                margin-right: 0;
            }

            @include breakpoint(tablet mobile) {
                margin: 0 0 25px;
            }
        }
        .quote {
            float: right;
            margin: 0 0 25px 30px;
            width: 35%;
            h4 {
                color: $standout-text;
                font-size: 1.5em;
                font-weight: 600;
                line-height: 1.5;
                margin: 0;
                text-align: center;
                
                @include breakpoint(tablet mobile) {
                    font-size: 1.25em;
                }
            }
            p {
                color: $standout-text;
                margin: 20px 0 0;
                text-align: center;
            }
            &.breakdown {
                display: none;
                @include span(12);
                margin: 0 auto 25px;
            }
            @include breakpoint(tablet mobile) {
                &.initial {
                    display: none;
                }
                &.breakdown {
                    display: block;
                }
            }
        }
    }
}

.unit-insignia, .mobile-unit-insignia {
    float: right;
    margin: 0 0 25px 30px;
    width: 35%;
    .unit-insignia-img {
        background-color: $accent-color;
        border: 2px solid $main-background-color;
        padding: 10px;
        img {
            width: 100%;
        }
    }
    .unit-insignia-text {
        border-bottom: 1px solid $main-background-color;
        margin: 5px 0 0;
        h5 {
            font-size: .813em;
            font-weight: 700;
            text-transform: uppercase;
        }
        p {
            color: $standout-text;
            font-size: .813em;
            margin: 0 0 15px;
            text-align: left;
        }
    }
    &.mobile-unit-insignia {
        display: none;
        float: left;
        margin: 0 0 30px;
        width: auto;
        @include offset(1);
        .unit-insignia-img {
            float: left;
            width: 25%;
        }
        .unit-insignia-text {
            float: left;
            margin: 0 0 0 20px;
            width: 45%;
        }
    }
    @include breakpoint(mobile) {
        &.unit-insignia {
            display: none;
        }
        &.mobile-unit-insignia {
            display: block;
        }
    }
}

.at4m-menu {
    top: 66px;
}
